@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap');

@font-face {
    font-family: 'Koulen';
    src: url(../assets/font/AMOQz46as3KIBPeWgnA9kuYMUg.ttf) format('truetype');
}

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #FFFFFF;
    --cor-terciaria: #48A7E2;
    --cor-quartenaria: #D9D9D9;
    --cor-hover: #133448;
    --cor-caixa_entrada: #CBCBCB;

    --font-primaria: 'Kumbh Sans', sans-serif;
    --font-secundaria: 'League Spartan', sans-serif;
    --font-terciaria: 'Koulen', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden; /* <-- IMPORTANTE: evita faixa lateral */
}

html {
     scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
}

#calculadora, #tabela {
    scroll-margin-top: 70px; 
}

.cabecalho {
    position: fixed;
    padding: 1% 0% 0% 5%;
    background-color: var(--cor-terciaria);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.cabecalho__menu {
    display: flex;
    gap: 30px;
    height: 40px;
}

.cabecalho__menu__links {
    font-family: var(--font-secundaria);
    font-size: 1.25rem;
    color: var(--cor-secundaria);
    text-decoration: none;
    margin-top: 5px;
}

.cabecalho__menu__links:hover {
    text-decoration: underline;
    font-size: 1.5rem;
}

.apresentacao {
    padding: 2% 10%;
}

.apresentacao_conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apresentacao__conteudo__titulo {
    margin-bottom: -50px;
    font-size: 6rem;
    color: var(--cor-terciaria);
    font-family: var(--font-terciaria);
    text-shadow: 2px 2px 0 var(--cor-secundaria);
    letter-spacing: 2px;
}

.apresentacao__conteudo__subtitulo {
    margin-bottom: 50px;
    margin-top: 0px;
    font-size: 1.56rem;
    font-weight: 200;
    color: var(--cor-secundaria);
    font-family: var(--font-primaria);
}

.linha {
    background-color: var(--cor-secundaria);
    width: 100%;
    max-width: 123px;
    height: 2px;
    margin-right: 360px;
    margin-bottom: 11px;
    margin-top: 0px;
}
.apresentacao__conteudo__texto {
    color: var(--cor-secundaria);
    font-family: var(--font-primaria);
    font-size: 1rem;
    text-align: center;
    width: 100%;
    max-width: 500px;   
}
/*
.rect_calculadora {
    background-color: var(--cor-secundaria);
    margin-top: 49px;
    width: 369px;
    height: 413px;
    border-radius: 27px;
    box-shadow: 10px 2px 0 var(--cor-terciaria);
}

.rect_calculadora::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: -10px;
    bottom: -10px;
    border: 2px solid var(--cor-terciaria);
    border-radius: 15px;
    z-index: -1;
}
*/

.rect_calculadora {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: white;
    padding: 40px;
    height: 365px;
    width: 100%;
    max-width: 406px;
    margin-top: 49px;
    border-radius: 27px;
    z-index: 1;

}

/* A linha azul */
.rect_calculadora::after {
    content: "";
    position: absolute;
    top: -8px;
    left: 5px;
    width: 100%;
    height: 100%; 
    border-right: 3px solid #3fa9f5;
    border-top: 3px solid #3fa9f5;
    border-radius: 27px;
    z-index: -1;
}

fieldset {
    border: 0;
 }
 
 .campo {
     margin-bottom: 1em;
 }

 .grupo {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 1em;
 }
 
 .campo_altura, .campo_peso {
    flex-direction: column;    
    margin-bottom: 0.15em;
    color: #000000;
    display: flex;
    font-family: var(--font-secundaria);
    font-size: 1.25em;
}

.campo_altura {
    margin-top: 60px;
}

.campo_peso {
    margin-top: 32px;
}
.asterisco {
    font-family: var(--font-secundaria);
    font-size: 1.25em;
    color: red;
}

.medida {
    font-size: 1em;
    margin-left: 5px;

}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input {
        border-radius: 0;
        height: 59.7px;
        width: 100%;
        max-width: 106px;
        padding-left: 8px;
    }
    
.campo input {    
        border: 2px solid var(--cor-caixa_entrada);
}

input::placeholder {     /*mudando as palavras q tao dentro da caixa*/
        font-family: var(--font-secundaria);
        color: var(--cor-caixa_entrada);
        font-size: 1.2em;
}

input:focus {  /*muda a caixa, pq quando clica aonde escreve, fica mais preta*/ outline: none;
        border: 2px solid var(--cor-terciaria);
}

.botao_calcular {
    font-family: var(--font-primaria);
    font-size: 1.5em;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    border: 0;
    border-radius:10px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    max-width: 229px;
    padding: 0.62em;
    margin: 40px;

}

/*
.botao_calcular {
    font-family: var(--font-primaria);
    font-size: 1.5em;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    border: 0;
    border-radius:10px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    max-width: 229px;
    padding: 0.62em;
    margin: 40px auto 0 auto 
}
*/
.apresentacao__rect_calculadora__resultado {
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    font-size: 2rem;
    background-color: var(--cor-terciaria);
    width: 100%;
    max-width: 487px;
    text-align: center;
    padding: 29px;
    border-radius: 10px;
    margin-top: 45px;
}

.tabela {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-secundaria);
    height: 100%;
    width: 100%;
    margin-top: 400px;
}
.tabela__titulo {
    color: var(--cor-secundaria);
    font-family: var(--font-primaria);
    font-size: 2rem;
    padding: 25px;
    width: 100%;
    max-width: 349px;
    background-color: var(--cor-primaria);
    margin-top: 62px;
    text-align: center;
}

.tabela__imc {
    margin-top: 62px;
    width: 100%;
    max-width: 1014px;
    border: 2px solid var(--cor-primaria);
    border-radius: 15px;
    font-family: var(--font-secundaria);
    border-collapse: separate;
    overflow: hidden;
    margin-bottom: 50px;
}

.tabela__imc thead th {
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 20px;
    text-align: left;
    background-color: var(--cor-quartenaria);
}

.tabela__imc tbody td {
    font-size: 1.25;
    font-weight: 600;
}

.tabela__imc tbody tr:nth-child(even) {
    background-color: var(--cor-quartenaria);
}

.tabela__imc td, .tabela__imc th {
    padding: 16px 12px;
    border-bottom: 1px solid var(--cor-primaria);
}

.tabela__imc tbody tr:last-child td {
    border-bottom: none;
}

.tabela__imc td:not(:last-child), .tabela__imc th:not(:last-child) {
    border-right: 1px solid var(--cor-primaria);
}

.rodape {
    font-family: var(--font-primaria);
    color: var(--cor-quartenaria);
    background-color: var(--cor-terciaria);
    padding: 30px;
    text-align: center;
}

.rodape__titulo {
    font-size: 1.25rem;
    margin-bottom: 30px;
}

.rodape__botoes {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.rodape__botoes__links {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-primaria);
    width: 100%;
    max-width: 200px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21,9px;
    text-decoration: None;
    font-family: var(--font-primaria);
    color: var(--cor-primaria);
}

.rodape__botoes__links:hover {
    background-color: var(--cor-hover);
}

@media (max-width: 810px) {
 
    .apresentacao__conteudo__titulo {
        font-size: 3rem;
        padding: 45px;
    }
    
    .apresentacao__conteudo__subtitulo {
        font-size:  0.63rem;
        margin-top: -14px;
    }
    .linha {
        margin-top: -20px;
        max-width: 60px;
        height: 1.5px;
        margin-right: 210px;
        margin-bottom: 5px;
    }
    .apresentacao__conteudo__texto {
        font-size: 0.56rem;
        width: 100%;
        max-width: 270px; 

    }
    .rect_calculadora {
        padding: 20px;
        height: 220px;
        max-width: 240px;

    }

    .rect_calculadora::after {
        top: -6px;
        left: 4px;

    }
    
    .campo_altura, .campo_peso {
        font-size: 0.87em;
    }
    
    .asterisco {
        font-size: 0.87em;
    }

    .medida {
        font-size. 0.75em;
    }
    
    .campo_altura {
        margin-top: 20px;
    }

    .campo_peso {
        margin-top: 3.8px;
        margin-bottom: 0px;
    }
    
    input::placeholder {     
        font-size: 0.68em;
    }
    
    input {
        height: 37.3px;
        max-width: 75.3px;
        padding: 3px;
    }
    .botao_calcular {
        max-width: 163px;
        padding: 8px;
        margin-top: 15px;
        margin-left: 35px;
    }
    
    .apresentacao__rect_calculadora__resultado {
        max-width: 250px;
        padding: 20px;
        font-size: 1.6rem;
        margin-top: 34px;
    }
}

/*
.botao_calcular {
}
/*
.botao_calcular {
    font-family: var(--font-primaria);
    font-size: 24px;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    border: 0;
    border-radius:10px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    max-width: 229px;
    padding: 0.62em;
    margin-left: 88px;
    margin-top: 40px;
}
 .campo {
     margin-bottom: 1em;
 }

 .grupo {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 1em;
 }

input {
        border-radius: 0;
        height: 59.7px;
        width: 100%;
        max-width: 106px;
        padding-left: 8px;
    }
    
.campo input {    
        border: 2px solid var(--cor-caixa_entrada);
}



