@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');


:root {
    --cor-primaria: #000000;
    --cor-secundaria: #FFFFFF;
    --cor-terciaria: #48A7E2;
    --cor-subtitulo: #D9D9D9;
    --cor-hover: 
}